
	This page was created at {{ ansible_date_time.date }}
	{% if ansible_eth0.active == True %}
	<p> eth0 address is {{ ansible_eth0.ipv4.address }}. </p>
	{% endif %}
	<ul>
	{% for address in ansible_all_ipv4_addresses %}
		<li> {{ address }} </>
	{% endfor %}
	</ul>
